:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #111827;           
  background-color: #f4f6f8; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: inherit;
  color: inherit;
}


#changelog-app, #app {
  max-width: 980px;
  margin: 0 auto;
  padding: 24px;
}


a {
  font-weight: 500;
  color: #b3c7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


button {
  font-family: inherit;
}